* {
  box-sizing: border-box;
}

#clipboard {
}

main {
  display: grid;
  grid-template-columns: 1fr 20rem;
}

input[disabled] {
  pointer-events: none;
}

.sheet input {
  width: 100%;
  padding: 0;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #ddd;
  padding: 0;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #f1f1f1;
}
